<p><a href="/" role="button">首页</a>-><a href="/map/data" role="button">数据报表</a>-><a href="/map/data/event" role="button">游戏分析</a>->破产统计</p>
<div class="page-header">
	<form class="form-search">
	<p>day[YYYYMMDD]</p><input type="text" value={{key_day}} name="day" class="search-query">
	<button type="submit" class="btn btn-primary">查询</button>
	</form>
</div>
<div class="page-header">
	<table class="table" id="datatable">
		<thead>
			<tr>
				<th>序号</th>
				<th>日期</th>
				<th>第几次破产</th>
				<th>破产次数</th>
				<th>领取次数</th>
				<th>领取占比</th>
				<th>新增用户</th>
				<th>新增占比</th>
			</tr>
		</thead>
		<tbody>
			{{#each bankruptinfo}}
				<tr>
					<td>{{id}}</td>
					<td>{{day}}</td>
					<td>{{seq_id}}</td>
					<td>{{nums}}</td>
					<td>{{get_nums}}</td>
					<td>{{per}}</td>
					<td>{{new_user}}</td>
					<td>{{new_user_per}}</td>
				<tr>
			{{/each}}
		</tbody>
	</table>
	<a download="fk.csv" href="#" onclick="return ExcellentExport.csv(this, 'datatable');">导出为:CSV</a>
	<div class="alert alert-info" role="alert">
				<p></p>
				<p>目前出的包client端统计存在错误，破产领取统计都为第一次领取</p>
				<p>破产没有单列用户数，因为每个用户在每个破产序列上只能出现1次。因此次数和用户数一致。</p>
				<p><strong>第几次破产</strong> 可能的取值范围为[1,2,3]。</p>
				<p>2016-02-29以前出的包client端统计存在错误，无论用户是第几次破产，均提交为第一次破产。</p>
	</div>
</div>
